body {
    background-color: black;
    color: white;
}

.modal-dialog {
    width: 900px;
    margin: 30px auto;
}

.alert:hover {
    opacity: 0.8;
    cursor: pointer;
}

.main-logo {
    max-width: 300px;
    height: auto;
    margin: auto;
}