body {
    /*
    background-color: black;
    color: white;
    */
}

html {
    height: 100%;
}

.gradientBG {
    /*background the same as the cos website*/
    background-image: url('../images/tree_watermark.png'), url('../images/gradient.jpg');
    background-position: center;
    background-repeat: repeat-x;
    background-size: contain;
}

.modal-dialog {
    width: 1150px;
    margin: 10px auto;
}

.alert:hover {
    opacity: 0.8;
    cursor: pointer;
}

.main-logo {
    max-width: 300px;
    height: auto;
    margin: auto;
}

.modal-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sub-stacking-grid {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.modal-grid img {
    margin: 5px;
}

.modal-footer {
    text-align: left;
}


/*tab css things i totally didn't copy paste from W3 schools*/


/* Style the tab */

div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}


/* Style the buttons inside the tab */

div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}


/* Change background color of buttons on hover */

div.tab button:hover {
    background-color: #ddd;
}


/* Create an active/current tablink class */

div.tab button.active {
    background-color: #ccc;
}


/* Style the tab content */

.tabcontent {
    /*display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}